<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <configSections>
        <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    </configSections>
    <connectionStrings>
        <add name="Default" connectionString="Data Source=JASMIN\SQLExpress;Initial Catalog=lepont;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0"/>
        <!--This limits the download file size to 10 MB.-->
        <httpRuntime maxRequestLength="10240"/>
        <sessionState mode="InProc" timeout="1000" cookieless="false" />
        <authentication mode="Forms">
            <forms name="LEPONT_AUTH" loginUrl="~/Login.aspx" defaultUrl="~/Application.aspx" slidingExpiration="true" timeout="1000"/>
        </authentication>
        <roleManager enabled="true" cacheRolesInCookie="true" defaultProvider="LepontRoleProvider">
            <providers>
                <clear/>
                <add name="LepontRoleProvider" type="LePont.Web.LepontRoleProvider, LePont.Web"/>
            </providers>
        </roleManager>
        <authorization>
            <deny users="?"/>
        </authorization>
        <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    </system.web>
    <location path="css">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="js">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="Views">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
    <log4net>
        <appender name="RootLog" type="log4net.Appender.RollingFileAppender, log4net">
            <param name="File" value="logs\root.log"/>
            <param name="AppendToFile" value="true"/>
            <param name="RollingStyle" value="Date"/>
            <param name="DatePattern" value="yyyy.MM.dd"/>
            <param name="StaticLogFileName" value="true"/>
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
            <layout type="log4net.Layout.PatternLayout, log4net">
                <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
            </layout>
        </appender>
        <appender name="CommonErrorLog" type="log4net.Appender.RollingFileAppender, log4net">
            <param name="File" value="logs\common-errors.log"/>
            <param name="AppendToFile" value="true"/>
            <param name="RollingStyle" value="Date"/>
            <param name="DatePattern" value="yyyy.MM.dd"/>
            <param name="StaticLogFileName" value="true"/>
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
            <layout type="log4net.Layout.PatternLayout, log4net">
                <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
            </layout>
        </appender>
        <appender name="NHibernateErrorLog" type="log4net.Appender.RollingFileAppender, log4net">
            <param name="File" value="logs\nh-error.log"/>
            <param name="AppendToFile" value="true"/>
            <param name="RollingStyle" value="Date"/>
            <param name="DatePattern" value="yyyy.MM.dd"/>
            <param name="StaticLogFileName" value="true"/>
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
            <layout type="log4net.Layout.PatternLayout, log4net">
                <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
            </layout>
        </appender>
        <appender name="SQLTraceLog" type="log4net.Appender.RollingFileAppender, log4net">
            <param name="File" value="logs\sql-traces.log"/>
            <param name="AppendToFile" value="false"/>
            <param name="RollingStyle" value="Date"/>
            <param name="DatePattern" value="yyyy.MM.dd"/>
            <param name="StaticLogFileName" value="true"/>
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
            <layout type="log4net.Layout.PatternLayout, log4net">
                <param name="ConversionPattern" value="%d [%t] - %m%n"/>
            </layout>
        </appender>
        <!-- Valid levels (in order of severity): DEBUG, INFO, WARN, ERROR, FATAL -->
        <!-- Unless additivity is disabled (additivity="false"), entries into child logs will always appear in ancestor logs, 
             in spite of levels of ancester or child loggers. -->
        <root>
            <level value="WARN"/>
            <appender-ref ref="RootLog"/>
        </root>
        <!--<logger name="JasminSoft.NHibernateUtils">
            <level value="ERROR"/>
            <appender-ref ref="CommonErrorLog"/>
        </logger>-->
        <logger name="LePont" additivity="false">
            <level value="WARN"/>
            <appender-ref ref="CommonErrorLog"/>
        </logger>
        <logger name="NHibernate" additivity="false">
            <level value="ERROR"/>
            <appender-ref ref="NHibernateErrorLog"/>
        </logger>
        <!-- The 2 entries below are SQL tracing loggers, used at development-time only 
             Note that we don't need to set 'hibernate.show_sql' to 'true' in NHibernate
             configuration for SQL logging with log4net to work.
        -->
        <logger name="NHibernate.SQL" additivity="false">
            <level value="DEBUG"/>
            <appender-ref ref="SQLTraceLog"/>
        </logger>
        <logger name="JasminSoft.NHibernateUtils">
            <level value="DEBUG"/>
            <appender-ref ref="SQLTraceLog"/>
        </logger>
    </log4net>
    <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
        <!--<bytecode-provider type="lcg"/>
        <reflection-optimizer use="true"/>-->
        <session-factory name="LePont">
            <!-- properties -->
            <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
            <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
            <property name="connection.connection_string">
                Data Source=JASMIN\SQLExpress;Initial Catalog=lepont;Integrated Security=True
            </property>
            <property name="show_sql">true</property>
            <property name="use_sql_comments">false</property>
            <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
            <property name="hbm2ddl.keywords">auto-quote</property>
            <property name="use_outer_join">true</property>
            <!--proxy factory-->
            <property name="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</property>
            <!-- mapping files -->
            <mapping assembly="LePont.Business"/>
        </session-factory>
    </hibernate-configuration>
</configuration>